* {
    
   margin:0;
   padding:0;
   box-sizing:border-box;

}


body{

    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;width:100%;
    background: #5c5c99;
    color:#111010;

}


.main{
    
    max-width:1100px;
    margin:auto;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    gap:25px;

}

h1,h2,h3{
    text-align:center;
}
 
h1,h2,p{
    color: #1f1f28;
}

p{
    font-style: italic;
    font-size: 20px;
}


.card-container{
     
     display:grid;
     grid-template-columns:repeat(3,1fr);
     gap:20px;
    
}


.card,.inventory-card{

    background:#CCCCFF;
    border-radius:16px;
    padding:25px;
    transition:transform 0.3s ease,box-shadow 0.3s ease;
}


.card:hover,.inventory-card:hover{

    transform:translateY(-6px);
    box-shadow:0 10px 20px rgba(0,0,0,0.35);

}


.card h3,.inventory-card h3{

    margin-bottom:15px;
    font-size:18px;
    border-bottom:2px solid rgba(255,255,255,0.3);
    padding-bottom:8px;

}


.card p{
    
    font-size:26px;
    font-weight:bold;
    margin-top:10px;

}


.products{
    border-top:5px solid #A3A3CC;
}

.expenses{
    border-top:5px solid  #A3A3CC;
}

.remaining{
    border-top:5px solid #A3A3CC;
}

form{
    display:flex;
    flex-direction:column;
    gap:12px;
}

input[type="text"],
input[type="number"],
select{padding:12px;border-radius:8px;border:none;outline:none;}

button{

    background:#292966;
    color:#fff;
    padding:12px;
    border-radius:8px;
    border:none;
    cursor:pointer;
    transition:0.3s;

}

button:hover{
    
    transform:translateY(-2px);box-shadow:0 0 15px rgba(0, 0, 0, 0.562);

}

.product-list{list-style:none;}
.product-list li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin-bottom:8px;
    background:rgba(24, 22, 22, 0.15);
    border-radius:8px;
}

.low-stock{
    background:rgba(255,0,0,0.25);
    border-left:5px solid red;
    font-weight:bold;
}

a{
    text-align:center;
    margin-top:20px;
    color :#0e0e3d;
    font-weight:bold;
    text-decoration:none;
}

a:hover{text-decoration:underline;
        }

@media(max-width:992px){.card-container{grid-template-columns:repeat(2,1fr);}}
@media(max-width:600px){.card-container{grid-template-columns:1fr;}
                        .card p{font-size:22px;}h1{font-size:24px;}}